
.Player {
    // Absolutely position entities at 0,0 and use transform to
    // move it around.
    position: absolute;
    top: 0em;
    left: 0em;
    width: 5em;
    height: 5em;

    background: blue;
}

